# Recommender Systems

## Problem Statement:

- This notebook implements a movie recommender system. 
- Recommender systems are used to suggest movies or songs to users based on their interest or usage history. 
- For example, Netflix recommends movies to watch based on the previous movies you've watched.  
- In this example, we will use __Collaborative Filtering__

![image](https://i.kinja-img.com/gawker-media/image/upload/s--e3_2HgIC--/c_scale,f_auto,fl_progressive,q_80,w_800/1259003599478673704.jpg)

## Collaborative Filtering: 
This system matches persons with similar interests and provides recommendations based on this matching. Collaborative filters do not require item metadata like its content-based counterparts.

Our content based engine suffers from some severe limitations. It is only capable of suggesting movies which are close to a certain movie. That is, it is not capable of capturing tastes and providing recommendations across genres.

Also, the engine that we built is not really personal in that it doesn't capture the personal tastes and biases of a user. Anyone querying our engine for recommendations based on a movie will receive the same recommendations for that movie, regardless of who she/he is.

### Item Based Collaborative Filtering:
Item-based Collaborative Filtering is a form of collaborative filtering for recommender systems based on the similarity between items calculated using people's ratings of those items.

- Based on User 1 and 2, they both watched and liked Titanic and a walk to remember.
- Item-based collaborative filtering will correlate both movies together based on user 1 and 2 behaviour. 
- User 3 watched “Titanic” and did not watch a “Walk to remember”, so the recommender system will recommend it for him/her. 
![image](user-based.png)

### Importing Labraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Preprocessing

__Importing Two Datasets__

In [2]:
# let's load the first one:
movies_title_df = pd.read_csv('Movie_Id_Titles')

# Let's load the second one:
movies_rating_df = pd.read_csv('u.data', sep='\t', names = ['user_id','item_id','rating','timestamp'])

In [3]:
movies_title_df.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [4]:
movies_rating_df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [5]:
# Let's drop the timestamp 
movies_rating_df = movies_rating_df.drop('timestamp', axis=1)

In [6]:
print('Dimensions:',movies_rating_df.shape)
movies_rating_df.head()

Dimensions: (100003, 3)

   user_id  item_id  rating
0        0       50       5
1        0      172       5
2        0      133       1
3      196      242       3
4      186      302       3

In [7]:
movies_rating_df.describe()

             user_id        item_id         rating
count  100003.000000  100003.000000  100003.000000
mean      462.470876     425.520914       3.529864
std       266.622454     330.797791       1.125704
min         0.000000       1.000000       1.000000
25%       254.000000     175.000000       3.000000
50%       447.000000     322.000000       4.000000
75%       682.000000     631.000000       4.000000
max       943.000000    1682.000000       5.000000

In [8]:
# Let's find out if dataset have null values
movies_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 3 columns):
user_id    100003 non-null int64
item_id    100003 non-null int64
rating     100003 non-null int64
dtypes: int64(3)
memory usage: 2.3 MB

In [9]:
# Merging both datasets on 'item_id'
movies_rating_df = movies_rating_df.merge(movies_title_df, on = 'item_id')

In [10]:
movies_rating_df.head(10)

   user_id  item_id  rating             title
0        0       50       5  Star Wars (1977)
1      290       50       5  Star Wars (1977)
2       79       50       4  Star Wars (1977)
3        2       50       5  Star Wars (1977)
4        8       50       5  Star Wars (1977)
5      274       50       5  Star Wars (1977)
6      227       50       4  Star Wars (1977)
7       99       50       5  Star Wars (1977)
8      305       50       5  Star Wars (1977)
9      108       50       4  Star Wars (1977)

In [11]:
movies_rating_df.shape

(100003, 4)

### Visualizing Dataset

### Performing Item-Based Collaborative Filtering On One Movie Sample

### Create An Item-Based Collaborative Filtering On The Entire Dataset

### Fully developed Movie Recommender SystemS!!!

### Fully developed Movie Recommender System completed!!